@import '../../css/variables.scss';

.PostDetails {
  background-color: rgba(0, 0, 0, .1);
  box-shadow: var(--shadow-3);
  max-width: 80rem;
  padding: 3rem 2rem;
  width: 100%;

  .Author {
    margin-bottom: 1.2rem;
  }

  .Content {
    font-size: 1.8rem;
    margin: 4.8rem 0;
    text-align: justify;
  }

  .Likes {
    align-items: center;
    display: flex;
    margin-bottom: 2.4rem;
  }

  .LikeIconBox {
    border: 1px solid var(--gray-4);
    border-radius: 50%;
    cursor: pointer;
    padding: .9rem .9rem .7rem;
    transition: all .12s;

    &:hover {
      box-shadow: var(--shadow-3);
    }
  }

  .Likes.Liked .LikeIconBox {
    border: 1px solid var(--green);
  }

  .LikeIcon {
    fill: #fff;
    height: 2.4rem;
    transition: all .12s;
    width: 2.4rem;
  }

  .LikeIconBox:hover .LikeIcon {
    filter: drop-shadow(var(--shadow-2));
  }

  .Likes.Liked .LikeIcon {
    fill: var(--green);
  }

  .LikeIconCaption {
    font-size: 1.6rem;
    margin-left: 1.2rem;
    transition: color .12s;
  }

  .Likes.Liked .LikeIconCaption {
    color: var(--green);
  }

  .UnauthInfo {
    align-items: center;
    display: flex;
    margin: 2.4rem 0;
  }

  .LockIcon {
    height: 2rem;
    fill: #fff;
    width: 2rem;
  }

  .UnauthCaption {
    font-size: 1.4rem;
    margin-left: .3rem;
  }

  .UnauthCaptionLink:link,
  .UnauthCaptionLink:visited {
    color: var(--green);
    text-decoration: none;
    transition: color .12s;

    &:hover {
      color: var(--green-dark-1);
    }
  }

  .PostOptions {
    margin-top: 4.8rem;
    text-align: center;
  }

  .PostOptionsIcons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    & > *:not(:last-child) {
      margin-right: 3rem;
    }
  }

  .EditPostIcon {
    cursor: pointer;
    fill: #fff;
    height: 3.4rem;
    width: 3.4rem;
  }

  .DeletePostIcon {
    cursor: pointer;
    fill: var(--red);
    height: 3.6rem;
    width: 3.6rem;
  }
}
