@import '../../../css/variables.scss';

.PostList {
  margin-top: 4.8rem;

  & > *:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.DeletePostWrapper {
  align-items: center;
  display: flex;
  justify-content: stretch;

  .DeletePostIcon {
    cursor: pointer;
    height: 3rem;
    fill: var(--red);
    margin-left: 1.2rem;
    width: 3rem;
  }
}

.Link:link,
.Link:visited {
  color: #fff;
  display: block;
  flex: 1;
  text-decoration: none;
}