@import '../../../css/variables';

.Navbar {
  align-items: center;
  background-color: var(--theme);
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, .4);
  display: flex;
  position: fixed;
  justify-content: space-between;
  left: 0;
  padding: 1rem 5rem;
  top: 0;
  width: 100%;
  z-index: var(--z-index-4);

  .Heading {
    font-size: 3.5rem;
    font-family: var(--font-logo);
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1;
    text-shadow: var(--shadow-3);
  }

  .Logo {
    height: 4.6rem;
    display: none;
    vertical-align: middle;
  }

  .HeadingLink:link,
  .HeadingLink:visited {
    color: #fff;
    text-decoration: none;
  }
}

@media only screen and (max-width: 900px) {
  .Navbar {

    .Heading {
      display: none;
    }

    .Logo {
      display: initial;
    }
  }
}

@media only screen and (max-width: 600px) {
  .Navbar {
    padding: 1rem 2rem;
  }
}