@import '../../../../css/variables.scss';

.Dropdown {
  background-color: var(--green);
  border-radius: 1px;
  box-shadow: var(--shadow-4);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: calc(100% + 1.2rem);
  transform: translateY(-10%);
  transition: all .3s;
  right: 0;
  width: 25rem;
  z-index: var(--z-index-5);

  .List {
    list-style: none;
  }

  .Item {

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
  }

  .Link:link,
  .Link:visited {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: var(--shadow-1);
    width: 100%;
    padding: 1.5rem;
    text-decoration: none;
    transition: background-color .12s;
    font-size: 1.7rem;
    color: #fff;

    &:hover {
      background-color: var(--green-dark-1);
    }
  }

  .Icon {
    width: 2.6rem;
    height: 2.6rem;
    fill: #fff;
    filter: drop-shadow(var(--shadow-1));
    margin-left: 1.2rem;
  }
}

.Visible {
  opacity: 1;
  pointer-events: initial;
  transform: translateY(0);
}