@import '../../../css/variables.scss';

.Backdrop {
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  transition: opacity .24s;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-5);
}

.Backdrop.Visible {
  opacity: 1;
  pointer-events: initial;
}

.Popup {
  background-color: #fff;
  border-radius: 1px;
  box-shadow: inset var(--shadow-5);
  color: #000;
  left: 50%;
  max-width: 100%;
  opacity: 0;
  padding: 2.4rem 1.2rem;
  pointer-events: none;
  position: fixed;
  text-align: center;
  transition: opacity .24s, transform .36s cubic-bezier(.27,.89,.32,1.22);
  top: 50%;
  transform: translate(-50%, -110%);
  width: 45rem;
  z-index: var(--z-index-5);
}

.Caption {
  display: inline-block;
  font-size: 1.7rem;
  margin: 3rem 0;
}

.Note {
  font-weight: 700;
}

.Buttons {
  display: flex;
  justify-content: center;

  & > *:not(:last-child) {
    margin-right: 2.4rem;
  }
}

.Popup.Visible {
  opacity: 1;
  pointer-events: initial;
  transform: translate(-50%, -50%);
}