@import '../../../css/variables.scss';

.Container {
  align-self: flex-start;
  background-color: rgba(0, 0, 0, .1);
  box-shadow: var(--shadow-4);
  justify-self: center;
  max-width: 100%;
  margin-top: 2.4rem;
  padding: 2.4rem;
  width: 65rem;

  .BtnAndLoader {
    display: flex;
    align-items: center;
  }

  .CancelButtonBox {
    margin-left: 2.4rem;
  }

  .Error {
    color: var(--red);
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 2.4rem;
  }
}