@import '../../../css/variables.scss';

.AuthorData {
  display: flex;

  .Photo {
    border-radius: 50%;
    box-shadow: var(--shadow-2);
    object-fit: cover;
  }

  .Right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.2rem;
  }

  .Name {
    color: var(--gray-3);
  }

  .Date {
    color: var(--gray-4);
  }
}

.Small {
  .Photo {
    height: 4.5rem;
    width: 4.5rem;
  }

  .Name {
    font-size: 1.4rem;
    margin-bottom: .3rem;
  }

  .Date {
    font-size: 1.2rem;
  }
}

.Big {
  .Photo {
    height: 5.5rem;
    width: 5.5rem;
  }

  .Name {
    font-size: 1.7rem;
    margin-bottom: .4rem;
  }

  .Date {
    font-size: 1.4rem;
  }
}