@import '../../../css/variables.scss';

.InputWrapper {
  margin-bottom: 3rem;

  .Input {
    background-color: rgba(0, 0, 0, .1);
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, .1);
    box-shadow: var(--shadow-1);
    color: #fff;
    font-size: 1.5rem;
    font-family: inherit;
    outline: none;
    padding: .9rem 1rem;
    transition: border-bottom .12s;
    width: 100%;

    &::-webkit-input-placeholder {
      color: var(--gray-4);
    }

    &:focus {
      border-bottom: 3px solid rgba(0, 0, 0, .35);
    }
  }

  .Textarea {
    box-sizing: initial;
    display: block;
    overflow: hidden;
    width: calc(100% - 2rem);
    resize: none;
  }

  &.Valid .Input {
    border-bottom: 3px solid var(--green);
  }

  &.Invalid .Input {
    border-bottom: 3px solid var(--red);
  }

  .Label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: .6rem;
    transition: color .12s;
  }

  &.Valid .Label {
    color: var(--green);
  }

  &.Invalid .Label {
    color: var(--red);
  }
}