@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --theme: rgb(52, 73, 94);
  --theme-dark: rgb(42, 62, 81);
  --green: rgb(49, 209, 177);
  --green-dark-1: rgb(45, 202, 171);
  --green-dark-2: rgb(103, 151, 142);
  --red: rgb(255, 65, 65);
  --red-dark-1: rgb(239, 58, 58);
  --gray-1: rgb(239, 239, 239);
  --gray-2: rgb(234, 234, 234);
  --gray-3: rgb(223, 223, 223);
  --gray-4: rgb(160, 160, 160);
  --gray-4-transparent: rgba(160, 160, 160, .05);

  --shadow-1: 0 0 2px rgba(0, 0, 0, .1);
  --shadow-2: 0 0 2px rgba(0, 0, 0, .3);
  --shadow-3: 0 0 3px rgba(0, 0, 0, .3);
  --shadow-4: 0 0 5px rgba(0, 0, 0, .3);
  --shadow-5: 0 0 8px rgba(0, 0, 0, .3);

  --font-logo: 'Sriracha', cursive;
  --font-home-heading: 'Handlee', cursive;
  --font-heading: 'Roboto', sans-serif;
  --font-main: 'Lato', sans-serif;

  --z-index-1: 10;
  --z-index-2: 100;
  --z-index-3: 1000;
  --z-index-4: 10000;
  --z-index-5: 100000;
}