.Footer {
  margin: 8rem 2rem 3rem;
  text-align: center;

  .Copyright {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }

  .Socials {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .Link:link,
  .Link:visited{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;

    &:nth-child(2) {
      align-items: center;
      display: flex;
    }
  }

  .SocialIcon {
    fill: #fff;
    height: 3.2rem;
    margin: 0 1.2rem;
    vertical-align: middle;
    width: 3.2rem;
  }
}