@import '../../../css/variables.scss';

.Line {
  width: 95%;
  max-width: 60rem;
}

.Begin {
  background-image: linear-gradient(to right, var(--gray-4), var(--gray-4-transparent));
}

.Middle {
  background-image: linear-gradient(to right, var(--gray-4-transparent), var(--gray-4), var(--gray-4-transparent));
}

.Size-1 {
  height: 1px;
}

.Size-2 {
  height: 2px;
}