@import '../../css/variables.scss';

.ChangePhoto {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > *:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  .Content {
    margin-bottom: 2.4rem;
  }

  .Label {
    cursor: pointer;
    display: inline-block;

    & > button {
      pointer-events: none;
      transition: all .12s;
    }

    &:hover > button {
      background-color: rgba(0, 0, 0, .03);
      box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    }
  }

  .Preview {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    margin-top: 2.4rem;
  }

  .FileDataRow {
    display: block;
    word-break: break-all;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  .FileDataCaption {
    font-weight: 700;
  }

  .Error {
    color: var(--red);
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 2.4rem;
  }

  .PhotoBox {
    border-left: 1px solid var(--gray-4);
    margin-left: 2.4rem;
    padding-left: 2.4rem;
  }

  .Photo {
    border-radius: 50%;
    box-shadow: var(--shadow-2);
    height: 8rem;
    object-fit: cover;
    vertical-align: middle;
    width: 8rem;
  }

  .Input {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .ChangePhoto {

    .PhotoBox {
      margin-left: 1.8rem;
      padding-left: 1.8rem;
    }
  }
}
