@import '../../../css/variables.scss';

.SignedInLinks {
  display: flex;

  & > *:not(:last-child) {
    margin-right: 2.4rem;
  }

  .User {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  .UserPhoto {
    border-radius: 50%;
    box-shadow: var(--shadow-2);
    height: 4.5rem;
    overflow: hidden;
    width: 4.5rem;
  }

  .Arrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #fff;
    box-shadow: var(--shadow-2);
    height: 0;
    margin-left: 1.2rem;
    transform: rotate(0);
    transition: transform .3s;
    width: 0;
  }

  .Rotated {
    transform: rotate(180deg);
  }
}