@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, ul, ol, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: rgb(52, 73, 94);
}

@media only screen and (min-width: 1800px) {
  html { font-size: 68.75%; }
}

@media only screen and (max-width: 900px) {
  html { font-size: 56.25%; }
}

@media only screen and (max-width: 600px) {
  html { font-size: 50%; }
}

body {
  color: #fff;
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
